@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:white;
    background-image: url(https://images.unsplash.com/photo-1617944061733-5ed012ce7e5a?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEzfHJuU0tESHd3WVVrfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    color: white;
    font-family: Raleway;
}
#header-img{
    width: auto;
    height: 100px;
    cursor: pointer;
}
#nav-bar{
    width: 100vw;
    align-items: center;
    display: flex;
    background-color:black;
    max-height: 100px;
    position: fixed;
    top: 0;
    margin: 0px;
    justify-items:space-between;
}
#nav-bar ul{
    list-style: none;
    display: flex;
    text-decoration: none;   
}
#nav-bar li a{
    text-decoration: none;/*remove the existing text decoration or  line under the text*/
    padding: 2rem 2rem;
    color:white;
    display: block;
    width: 100%;
}
#nav-bar li :hover{
    background-color:gray
}
.main-section{
    margin-top: 110px;
    text-align: center;
    line-height: 1.5;
}
#form{
    text-align: center;
}
#submit{
    width: 100px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: Raleway;
    font-weight: bold;
}
#video{
    display: block;
    margin: auto;
}
.grid-container{
    margin: 50px 50px 100px 50px;
    padding: 0px;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: 1fr;
    display: grid;
    grid-column-gap: 40px;
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 768px) {
    .grid-container{
      display: grid;
      grid-template-columns: 400px;
      grid-template-rows: 400px 400px 400px;
      grid-row-gap: 200px;
      justify-content: center;
    }

}
.grid-item{
    border: 1px solid white;
    height: 550px;
    background-color:#a4c3b2;
}

#figure{
    max-width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
#figure:hover{
    transform:translateY(8px);
}
.costing-section{
    background-color:black;
    opacity: 0.8;
    height: 400px;
    display: flex;
    text-align:center;
    line-height: 1.5;
    width: 100vw;
    padding-bottom: 40px;
}
